@page
@model DAF_Project.Pages.Capture.CaptureDisaster.CaptureDisasterModel
@{
    ViewData["Title"] = "Disaster page";
}

<div class="container-fluid border rounded p-5" style="background-color:orange">
    <h2 style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Capture a new disaster</h2>
    <div class="row content">
        <div class="col-sm-9">
            <form method="POST">
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Start Date</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="start_date" value="@Model.newStartDate" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">End Date</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="end_date" value="@Model.newEndDate" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Location</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="location" value="@Model.newLocation" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Description</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="description" value="@Model.newDescription" style="border:2px solid purple" />
                    </div>
                </div>
                @if (Model.successMessage.Length > 0)
                {
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>@Model.successMessage</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                }
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <button type="submit" class="btn" style="background-color:purple;color:white">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>